# Ignore Eclipse metadata
.metadata/
.settings/
.classpath
.project

# Ignore server configurations
Servers/
.tmp/

# Ignore build directories
bin/
target/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore IDE files
*.iml
.idea/
